<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card style="max-width: 400px; margin: auto; padding: 16px;">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <div style="width: 150px; height: 150px; overflow: hidden; margin-bottom: 16px;">
        <img src="assets/img/file.png" alt="Foto Ana" style="width: 100%; height: 100%; object-fit: cover; border-radius: 0;" />
      </div>
      <h2 style="text-align: center;">Ana Laura Fagundes</h2>
      <div style="text-align: justify; margin-top: 16px;">
        <p>Sou estudante do curso de Análise e Desenvolvimento de Sistemas na UPF. Almejo seguir na área de dados.</p>
        <h5>Formação Acadêmica:</h5>
        <p>Ensino Superior em andamento.</p>
      </div>
    </div>
  </ion-card>
</ion-content>
